{% extends 'agenda/base.html'%}

{% block conteudo %}
<h1 >

     <div class="badge bg-primary">
          PARABÉNS PARA AS MULHERES!
(NO DIA INTERNACIONAL DA MULHER)
     </div>



Mulher, obra prima da criação
que Deus fez com primor e com carinho;
um grande presente para Adão
- flor perfumada, sem ter espinho.

Pra abençoar o nosso caminho
a fez o Senhor, com perfeição;
fazendo do lar o mais doce ninho,
enchendo de amor nosso coração!

Vida que dar força para a lida
e vida que gera uma outra vida,
companheira que anima nossa fé...

A beleza em forma de pessoa,
namorada e "mãe" - que coisa boa!
Parabéns para o dia da mulher!...

</h1>
{% endblock conteudo %}
